@()

@main("Dispatcher Dashboard"){
        <div class="row">
            <span id="clients" class="span6">
                <table id="clientsTable" class="table table-bordered">
                    <caption>Clients</caption>
                    <thead>
                    <tr>
                        <th>UserID</th>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="body">
                    </tbody>
                </table>
            </span>
            <span id="drivers" class="span6">
                <table id="driversTable" class="table table-bordered">
                    <caption>Drivers</caption>
                    <thead>
                    <tr>
                        <th>DriverID</th>
                        <th>Rating</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="body">
                    </tbody>
                </table>
            </span>
        </div>

        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Service User Request</h3>
            </div>
            <div class="modal-body">
                <input id="driverID" type="text" placeholder="Enter the Driver ID"/>
                <span id="msgCenter"></span>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button id="done" class="btn btn-primary">Done</button>
            </div>
        </div>
}