@()

@main("Dispatcher Dashboard"){
        <div class="row">
            <span id="clients" class="span6">
                <table id="clientsTable" class="table table-bordered">
                    <caption>Clients</caption>
                    <thead>
                    <tr>
                        <th>UserID</th>
                        <th>User Requests</th>
                        <th>Action on User</th>
                    </tr>
                    </thead>
                    <tbody id="body">
                    </tbody>
                </table>
            </span>
            <span id="drivers" class="span6">
                <table id="driversTable" class="table table-bordered">
                    <caption>Drivers</caption>
                    <thead>
                    <tr>
                        <th>SNO</th>
                        <th>DriverID</th>
                        <th>Driver Available</th>
                        <th>Action on Driver</th>
                    </tr>
                    </thead>
                    <tbody id="body">
                    </tbody>
                </table>
            </span>
        </div>
}