@()

@main("Dispatcher Dashboard"){
        <table class="table table-bordered">
            <caption>Dispatcher Dashboard</caption>
            <thead>
                <tr>
                    <th>SNO</th>
                    <th>User Requests</th>
                    <th>Action on User</th>
                    <th>Drivers Available</th>
                    <th>Action on Driver</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>User: 123 source: destination:</td>
                    <td>remove</td>
                    <td>Driver name</td>
                    <td>remove</td>
                </tr>
            </tbody>
        </table>
}